:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: url("./wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  top: 0;
  right: 0;     
  padding: 20px;  
}

nav a img {
  margin-left: 20px;
}


#keys {
  margin: 0 auto;
  padding: 6rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  transition: all 0.07s;
  text-shadow: 0 0 5px black;
}

kbd {
  display: flex;
  font-size: 2rem;
}

.sound {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #FDFD96;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 40px #ffc600;
}

